<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro Médico Salud Vida</title>
    <style>
        html, body{
            height: 100%;
            margin: 0;
        }
        
        .maqueta {
            display: grid;
            grid-template-rows: auto 1fr auto;
            height: 100%;
        }

        footer{
            margin: 20px;
            text-align: center;
        }
    </style>
</head>
<div class="maqueta">
    <header>
        <h1>Centro médico Salud Vida</h1>
    </header>
    <body>
        {% block contenido %}
        Este es el contenido por defecto
        {% endblock contenido %}
    </body>
    <footer>
        <span>©Vicente Ignacio Rosales Díaz</span>
    </footer>
    </html>
</div>