<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <title>Centro Médico Salud Vida</title>
    <style>
        html, body{
            height: 100%;
            margin: 0;
        }
        
        .maqueta {
            display: grid;
            grid-template-rows: auto 1fr auto;
            height: 100%;
        }

        header, footer{
            padding: 20px;
            text-align: center;
        }

        header{
            border-bottom: 2px solid black;
        }

        footer{
            border-top: 2px solid black;
        }
    </style>
</head>
<div class=" container-fluid maqueta">
    <header>
        <h1>Centro médico Salud Vida</h1>
        <nav class="navbar">
            <ul class="d-flex navbar-nav flex-row gap-5">
                <li class="nav-item"><a href="/" class="text-decoration-none">Home</a></li>
                <li class="nav-item"><a href="" class="text-decoration-none">Pacientes</a></li>
                <li class="nav-item"><a href="" class="text-decoration-none">Médicos</a></li>
                <li class="nav-item"><a href="{% url 'listar_especialidades' %}" class="text-decoration-none">Especialidades</a></li>
                <li class="nav-item"><a href="" class="text-decoration-none">Citas</a></li>
            </ul>
        </nav>
    </header>
    <body>
        {% block contenido %}
        <div class="d-flex flex-column align-items-center justify-content-center">
            <h1>BIENVENIDO AL CENTRO MÉDICO DE SALUD VIDA!</h1>
        </div>
        {% endblock %}
    </body>
    <footer>
        <span>©Vicente Ignacio Rosales Díaz</span>
    </footer>
    </html>
</div>