{% extends 'base.html' %}
{% block contenido %}
    <form method="post" class="d-flex flex-column align-items-center justify-content-center">
        {% csrf_token %}
        <div class="p-5">
            <h1>¿Desea eliminar {{ object }}?</h1>
        </div>
        <div class="d-flex flex-row gap-2 w-50 p-5">
            <button class="btn btn-success w-50">Si</button>
            <a href="{% url 'listar_especialidades' %}" class="btn btn-danger w-50">Cancelar</a>
        </div>
    </form>
{% endblock %}