{% extends "base.html" %}
{% block contenido %}
<div class="d-flex">
    <div class="col-6 border-end border-black">
        <h1>Lista de Citas:</h1>
        <ul class="d-flex flex-column list-unstyled p-2">
            {% for cita in citas %}
                <li class="d-flex flex-row justify-content-between fs-2 p-4 border border-secondary">
                    <div>    
                        <p>
                            Paciente: {{ cita.paciente }}
                            <br>
                            Médico: {{ cita.medico }}
                            <br>
                            Especialidad: {{ cita.especialidad }}
                            <br>
                            Fecha cita: {{ cita.fecha_cita }}
                            <br>
                            Hora cita : {{ cita.hora_cita }}
                            <br>
                            {% if  cita.observaciones  %}
                                observaciones: {{ cita.observaciones }} 
                            {% endif %}
                        </p>
                    </div> 
                    <div>
                        <a href="" class="btn btn-warning">Actualizar</a>
                        <a href="" class="btn btn-danger">Eliminar</a>
                    </div>
                </li>
            {% empty %}
                <li>
                    <h1>No hay citas</h1>
                </li>
            {% endfor %}
        </ul>
    </div>
    <aside class="col-6 d-flex flex-column gap-4 text-center align-items-center">
        {% block form_medico %}
        <div class="w-70">
            <h1>¿Desea ingresar una nueva cita?</h1>
            <a href="{% url 'crear_cita' %}" class="btn btn-primary">Ingresar Cita</a>
        </div>
        {% endblock %}
        {% if messages %}
        <div>
            {% for message in messages %}
                <p class="text-success fs-1">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </aside>
</div>
{% endblock %}